/*
======================================
[ Import Font ]
======================================
*/
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
a{text-decoration:none;}
a:hover{text-decoration:none;}
ul{list-style:none;padding:0;margin-bottom:0}
p{margin-bottom:0;}
body{font-family:'Nunito',sans-serif;background:#1A080C;color:#ECE1E1;font-size:16px;line-height:26px;}
img{max-width:100%;height:auto;}
h1,h2,h3{font-family:Lalezar;}
.btn,a,button,.slider__item{cursor:url(../img/hover.png) 0 0,auto!important;}

/*Fix image trong khung*/
.dnfix__thumb{position:relative;height:auto;width:100%;overflow:hidden;display:block;padding-top:68.075%;}
.dnfix__thumb img{margin:0px auto;position:absolute;width:100%;height:100%;top:0;left:0;object-fit:cover}
.dnfix__thumb.-contain img{object-fit:contain;}
.videoWrapper{position:relative;padding-bottom:56.25%; /* 16:9 */height:0;}
.videoWrapper iframe,.videoWrapper object,.videoWrapper embed,.videoWrapper video{position:absolute;top:0;left:0;width:100%;height:auto;}

/*Icon*/
.ic-map-marker{display:inline-block;width:10px;height:12px;background:url(../img/map-marker.png) no-repeat;background-size:contain;}
.ic-phone{display:inline-block;width:12px;height:12px;background:url(../img/phone.png) no-repeat;background-size:contain;}
.ic-envelope{display:inline-block;width:12px;height:9px;background:url(../img/envelope.png) no-repeat;background-size:contain;}

/**/
.btn{position:relative;display:inline-block;min-width:177px;padding:4px 15px;background:linear-gradient(145.85deg,#FFE142 20.21%,#F06B23 90.44%);box-shadow:0px 5px 20px rgba(255,195,50,0.3),inset 0px -4px 0px rgba(0,0,0,0.25);border-radius:12px;transition:all .5s;}
.btn:hover{transform:translateY(-3px);}
.btn span{display:block;font-family:Lalezar;font-size:24px;line-height:38px;background:-webkit-linear-gradient(45deg,#551A11,#B22E1A);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.sc__header{max-width:780px;margin:auto;}
.sc__header--title{font-family:Lalezar;font-size:48px;line-height:75px;margin-bottom:0;background:-webkit-linear-gradient(324deg,#FFFFFF,#E79A6F);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}

/**/
.containerz{overflow:hidden;pointer-events:none;position:absolute;top:0;left:0;height:100%;width:100%;filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429',EndColorStr='#257eb7');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429',EndColorStr='#257eb7')";}
#pixie{z-index:10;position:fixed;top:0;left:0;pointer-events:none;}

/*Header*/
header.header{position:fixed;top:0;left:0;right:0;z-index:11;-webkit-animation:showNav 1s ease-in-out forwards;-moz-animation:showNav 1s ease-in-out forwards;animation:showNav 1s ease-in-out forwards;transition:background .5s;}
header.header:after{content:"";position:absolute;right:0;bottom:0;width:100%;height:1px;background:linear-gradient(90deg,rgba(121,45,22,0) 0%,#F4852A 48.73%,rgba(244,133,42,0) 91.72%);transform:matrix(1,0,0,-1,0,0);}
header.header.is-active{background:url(../img/bar.png) no-repeat;background-size:cover;}

/*
======================================
[ Main menu ]
======================================
*/
.main__nav{position:relative;font-family:'Lalezar',cursive;z-index:9;}
.main__nav:after{content:"";display:table;clear:both;}
.main__nav .sc__wrap{position:relative;z-index:9999;width:100%;}
.main__nav ul{list-style:none;padding:0;margin:0;}
.main__nav ul.el__menu{padding:0px 0;}
.main__nav ul.el__menu:after{content:"";display:table;clear:both;}
.main__nav ul.el__menu>li{position:relative;display:inline-block;}
.main__nav ul.el__menu>li>a{position:relative;color:#FFFAE9;line-height:19px;font-weight:400;font-size:16px;padding:30px 32px;display:block;transition:all .5s;}
.main__nav ul.el__menu>li>a:after{content:'';position:absolute;bottom:15px;left:0;right:0;display:block;width:8px;height:8px;background:linear-gradient(145.85deg,#FFE142 20.21%,#F07C3D 90.44%);border-radius:1px;transform:rotate(45deg);text-align:center;transform-origin:center;margin:auto;opacity:0;transition:all .5s;-webkit-animation:lightAnimation .3s ease-in-out infinite;animation:lightAnimation .3s ease-in-out infinite;}
.main__nav ul.el__menu>li:hover>a,.main__nav ul.el__menu>li.active>a{background:linear-gradient(180deg,rgba(49,27,65,0) 0%,rgba(251,187,56,0.4) 100%);}
.main__nav ul.el__menu>li:hover>a:after,.main__nav ul.el__menu>li.active>a:after{opacity:1;}
.main__nav ul.el__menu>li>a::before,.main__nav ul.el__menu>li>a::after{}
.main__nav ul.el__menu>li.active>a::before,.main__nav ul.el__menu>li.active>a::after,.main__nav ul.el__menu>li:hover>a::before,.main__nav ul.el__menu>li:hover>a::after{}
.main__nav ul.el__menu>li.active>a::after,.main__nav ul.el__menu>li:hover>a::after{}
.header__btn{position:relative;display:block;box-shadow:0px 5px 20px rgba(255,195,50,0.3);border-radius:12px;background:linear-gradient(94.88deg,#551A11 13.73%,#9B3800 81.43%);animation:boxshadow 2s infinite;}
.header__btn:after{content:"";position:absolute;top:0;left:0;bottom:0;width:10%;height:100%;background:linear-gradient(94.88deg,#9B3800 13.73%,#551A11 81.43%);border-radius:12px;opacity:0;transition:all .5s;}
.header__btn:hover:after{width:100%;opacity:1;}
.header__btn:before{content:"";position:absolute;width:calc(100% + 4px);height:calc(100% + 4px);top:0;right:0;bottom:0;left:0;z-index:-1;margin:-2px;border-radius:inherit;background:linear-gradient(to bottom,#FFE142,#F17024);}
.header__btn span{display:block;position:relative;z-index:1;font-family:'Lalezar',cursive;font-size:16px;line-height:25px;padding:12px 15px 11px 50px;background:-webkit-linear-gradient(45deg,#FFE142,#F07C3D);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.header__btn span:before{content:'';position:absolute;top:11px;left:15px;width:24px;height:24px;background:url(../img/wallet.png);}
@keyframes boxshadow{
	0%{box-shadow:0px 2px 5px rgba(255,195,50,0.3);}
	50%{box-shadow:0px 5px 30px rgba(255,195,50,0.3);}
	100%{box-shadow:0px 2px 5px rgba(255,195,50,0.3);}
}

/*Header banner*/
.header__banner{position:relative;}
.header__banner .dnfix__thumb{padding-top:52.6%;}
.header__banner .el__wrap{position:absolute;top:0;left:0;width:100%;height:100%;display:flex;align-items:center;}
.header__banner .el__meta{max-width:580px;font-family:Nunito;font-weight:600;font-size:18px;line-height:38px;color:#ECE1E1;}
.header__banner .el__title{font-family:Lalezar;font-size:64px;line-height:64px;margin-bottom:24px;background:-webkit-linear-gradient(320deg,#FFE142,#F07C3D);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.header__banner .el__excerpt{margin-bottom:55px;}
.header__banner .el__btn{position:relative;display:inline-block;background:linear-gradient(145.85deg,#FFE142 20.21%,#F06B23 90.44%);box-shadow:0px 5px 20px rgba(255,195,50,0.3),inset 0px -4px 0px rgba(0,0,0,0.25);border-radius:12px;transition:all .5s;}
.header__banner .el__btn:hover{transform:scale(1.05);}
.header__banner .el__btn:before{content:'';position:absolute;top:-5px;left:-15px;width:71px;height:68px;background:url(../img/btn-started-circle.png) no-repeat;background-size:contain;}
.header__banner .el__btn:after{content:'';position:absolute;top:0;left:-5px;width:48px;height:57px;background:url(../img/btn-started.png) no-repeat;background-size:contain;animation:1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim;}
.header__banner .el__btn span{display:block;padding:10px 16px 10px 69px;font-family:Lalezar;font-size:24px;line-height:38px;background:-webkit-linear-gradient(45deg,#551A11,#B22E1A);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}

/*Home story*/
.home-story{position:relative;padding:170px 0 115px;}
.home-story:before{content:'';position:absolute;top:-140px;left:0;width:100%;height:350px;pointer-events:none;background:url(../img/cloud.png) no-repeat;background-size:cover;}
.home-story .el__title{}
.home-story .el__excerpt{margin-bottom:40px;}
.home-story .el__box{margin-top:115px;}
.home-story .el__item{margin-bottom:30px;padding:10px 15px;color:#19080C;text-align:center;background:url(../img/home-story-item-bg.png) no-repeat;background-size:100% 100%;transition:all .5s;}
.home-story .el__item:hover{transform:translateY(-5px);}
.home-story .el__item--thumb{padding-top:82.075%;border-top-left-radius:20px;border-top-right-radius:20px;overflow:hidden;}
.home-story .el__item--thumb:before{position:absolute;top:50%;left:50%;z-index:2;display:block;content:"";width:0;height:0;background:rgba(254,228,104,0.3);border-radius:100%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);opacity:0;transition:1s;}
.home-story .el__item:hover .el__item--thumb:before{width:200%;height:200%;animation:fadeCirce 1s;}
.home-story .el__item--meta{padding:20px 15px 30px;}
.home-story .el__item--title{font-family:Lalezar;font-size:32px;line-height:50px;color:#804539;}
.home-story-slider{padding:0 50px;}
.home-story .el__col{display:flex;}

/**/
.home-intro{padding:180px 0;background:#2D161C;
background: url(../img/tokenomicsbg4.svg) no-repeat;
background-size: cover;
background-position: center;
}
.home-intro .el__item--excerpt{margin-bottom:40px;}

/**/
.home-ecosystem{padding:100px 0 130px;}
.home-ecosystem .sc__header{margin-bottom:40px;}
.home-ecosystem .el__col{display:flex;}
.home-ecosystem .el__item{width:100%;margin-bottom:40px;background:linear-gradient(239.09deg,#481E28 35.42%,#2D161C 87.07%);border-radius:16px;overflow:hidden;}
.home-ecosystem .el__item--meta{padding:30px 30px;}
.home-ecosystem .el__item--title{font-family:Lalezar;font-size:24px;line-height:38px;background:-webkit-linear-gradient(324deg,#FFFFFF,#E79A6F);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.home-ecosystem .el__item--excerpt{margin-bottom:24px;min-height:78px;}
.home-ecosystem .el__item--thumb{position:relative;overflow:hidden;}
.home-ecosystem .el__item--thumb:before{position:absolute;top:50%;left:50%;z-index:2;display:block;content:"";width:0;height:0;background:rgba(254,228,104,0.3);border-radius:100%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);opacity:0;transition:1s;}
.home-ecosystem .el__item:hover .el__item--thumb:before{width:200%;height:200%;animation:fadeCirce 1s;}

/**/
.home-tokenomics{position:relative;padding:95px 0 190px;background:linear-gradient(180deg,#34191F 0%,rgba(52,25,31,0) 100%);overflow:hidden;}
.home-tokenomics .container{max-width:1124px;}
.home-tokenomics .el__box{position:relative;padding:35px 110px 50px;background:linear-gradient(237.98deg,#A45C34 -18.08%,#3C131D 100%);border-radius:16px;border-top-right-radius:200px;border-bottom-right-radius:200px;font-family:Nunito;font-weight:bold;font-size:16px;line-height:39px;letter-spacing:0.05em;color:#ECE1E1;}
.home-tokenomics .el__box::before{content:'';position:absolute;width:100%;height:100%;bottom:0;left:0;background:url(../img/home-tokenomics-box-bg.png) no-repeat;background-size:cover;}
.home-tokenomics .sc__header{margin-bottom:70px;}
.home-tokenomics .el__box--title{font-family:Lalezar;font-size:32px;line-height:50px;letter-spacing:0.05em;color:#ECE1E1;margin-bottom:0;font-weight:400;}
.home-tokenomics .el__box--price{font-family:Lalezar;font-size:48px;line-height:64px;font-weight:400;background:-webkit-linear-gradient(324deg,#FFE142,#F07C3D);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.home-tokenomics .el__box__list{}
.home-tokenomics .el__box__list li{position:relative;padding-left:40px;}
.home-tokenomics .el__box__list li::before{content:'';position:absolute;top:10px;left:0;width:16px;height:16px;background:#F1E20C;border:1px solid #fff;border-radius:50%;}
.home-tokenomics .el__box__list li.-percent1::before{background:#F1E20C;}
.home-tokenomics .el__box__list li.-percent2::before{background:#FFAE42;}
.home-tokenomics .el__box__list li.-percent3::before{background:#E84A18;}
.home-tokenomics .el__box__list li.-percent4::before{background:#E31341;}
.home-tokenomics .el__box__list li.-percent5::before{background:#601848;}
.home-tokenomics .el__box__list li.-percent6::before{background:#3F2583;}
.home-tokenomics .el__box__list li.-percent7::before{background:#284397;}
.home-tokenomics .el__box__list li.-percent8::before{background:#0A88C9;}
.home-tokenomics .el__box__list li.-percent9::before{background:#34A538;}
.home-tokenomics .el__box__list li.-percent10::before{background:#34A538;}
.home-tokenomics .el__box__list li.-percent11::before{background:#95C61D;}
.home-tokenomics .el__box--thumb{position:absolute;top:-125px;right:-255px;width:686px;max-width:100%;}
.home-tokenomics .el__box--thumb::before{content:'';position:absolute;top:97px;left:-20px;width:694px;height:694px;box-shadow:0px 0px 60px rgb(198 67 26 / 20%);border-radius:50%;background:url(../img/home-tokenomics-img-circle.png) no-repeat;background-size:contain;animation:spinner-rotate 2s linear infinite;}
.home-tokenomics .dnfix__thumb{padding-top:112.3%;}

/*home-ourteam*/
.home-ourteam{position:relative;padding:100px 0 130px;background-image:url(../img/line_color.svg);background-position:50%;background-repeat:no-repeat;background-size:cover;}
.home-ourteam .sc__header{margin-bottom:60px;}
.home-ourteam .nav-tabs{border-bottom:0;}
.home-ourteam .nav-item{flex-grow:1;}
.home-ourteam .nav-item:not(:last-child){margin-right:30px;}
.home-ourteam .nav-link{position:relative;width:100%;background:#341B16;border-radius:16px;font-family:Nunito;font-weight:800;font-size:24px;line-height:33px;color:#FFFFFF;}
.home-ourteam .nav-link span{position:relative;z-index:1;color:#fff;}
.home-ourteam .nav-link.active,.home-ourteam .nav-link:hover{box-shadow:0px 5px 20px rgba(255,195,50,0.3);background:#341B16;}
.home-ourteam .nav-link.active:before,.home-ourteam .nav-link:hover:before{content:"";position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1;margin:-2px;border-radius:inherit;background:linear-gradient(to bottom,#FFE142,#F17024);}
.home-ourteam .nav-link.active:after,.home-ourteam .nav-link:hover:after{content:"";position:absolute;top:0;left:0;bottom:0;width:100%;height:100%;background:linear-gradient(94.88deg,#9B3800 13.73%,#551A11 81.43%);border-radius:12px;opacity:1;transition:all .5s;border-radius:inherit;}
.home-ourteam .tab-pane{padding:100px 0 50px;}
.home-ourteam .slider__item .dnfix__thumb{padding-top:138%;}
.home-ourteam .slick-list{margin:0 -28px;}
.home-ourteam .slick-slide{margin:0 28px;}
.home-ourteam .slider__item{position:relative;overflow:hidden;}
.home-ourteam .slider__item:before{position:absolute;top:50%;left:50%;z-index:2;display:block;content:"";width:0;height:0;background:rgba(254,228,104,0.3);border-radius:100%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);opacity:0;transition:1s;}
.home-ourteam .slider__item:hover:before{width:200%;height:200%;animation:fadeCirce 1s;}
.ourteamModal .modal-dialog{max-width:926px;}
.ourteamModal .btn-close{position:absolute;top:0;right:60px;width:89px;height:80px;opacity:1;background:url(../img/popup-close.png) no-repeat;background-size:contain;}
.ourteamModal .btn-close:focus{box-shadow:none;}
.ourteamModal-content{padding:100px 190px 160px;background:url(../img/popup-bg.png) no-repeat;background-size:100% 100%;border:0;}
.ourteamModal__title{font-family:LNTH-BELLABOO;font-weight:normal;font-size:36px;line-height:43px;text-transform:uppercase;color:#471709;margin-bottom:10px;}
.ourteamModal__sub{font-family:LNTH-BELLABOO;font-weight:normal;font-size:18px;line-height:22px;color:#B14C35;margin-bottom:30px;}
.ourteamModal__excerpt{font-family:Nunito;font-weight:normal;font-size:16px;line-height:22px;color:#B14C35;}

/**/
.home-advisors{position:relative;padding:130px 0 50px;}
.home-advisors::before{content:'';position:absolute;width:100%;height:108%;left:0px;top:0;background:linear-gradient(180deg,#2E110A 0%,rgba(37,16,22,0) 100%);z-index:-1;}
.home-advisors .sc__header{margin-bottom:60px;}
.home-advisors .el__box{max-width:1054px;margin:0 auto;text-align:center;}
.home-advisors .el__item{position:relative;max-width:405px;background:linear-gradient(to top,#714120 0%,rgba(26,9,13,0) 100%);border-radius:16px;padding:15px 30px 65px;margin:0 auto 50px;transition:all .5s;}
.home-advisors .el__item:hover{transform:translateY(-8px);}
.home-advisors .el__item:after{content:'';position:absolute;bottom:-12px;left:0;right:0;display:block;width:23px;height:23px;background:linear-gradient(145.85deg,#FFE142 20.21%,#F07C3D 90.44%);border-radius:1px;transform:rotate(45deg);text-align:center;transform-origin:center;margin:auto;transition:all .5s;-webkit-animation:lightAnimation .3s ease-in-out infinite;animation:lightAnimation .3s ease-in-out infinite;}
.home-advisors .el__item--thumb{margin-bottom:20px;}
.home-advisors .el__item--title{font-family:Lalezar;font-weight:normal;font-size:30px;line-height:47px;text-transform:uppercase;color:#FABE41;}

/**/
.home-partners{padding:100px 0 150px;}
.home-partners .container{max-width:1600px;}
.home-partners .sc__header{margin-bottom:40px;}
.home-partners .slick-list{padding:15px 0;}
.home-partners .slick-list{margin:0 -8px;}
.home-partners .slick-slide{margin:0 8px;}
.home-partners-slider::before{content:'';position:absolute;top:0;left:-10px;width:16%;height:100%;z-index:1;background:linear-gradient(to right,#1a080c 40%,transparent);}
.home-partners-slider::after{content:'';position:absolute;top:0;right:-10px;width:16%;height:100%;z-index:1;background:linear-gradient(to left,#1a080c 40%,transparent);}
.home-partners .slick-prev{left:5%;}
.home-partners .slick-next{right:5%;}
.home-partners .dnfix__thumb{padding-top:52%;}
.home-partners .slider__item{border-radius:16px;transition:all .5s;}
.home-partners .slider__item:hover{box-shadow:0px 0px 10px #ffd93f;}

/*Page governance*/
.governance__header{padding:14% 0 8%;}
.governance__header .entry-title{font-weight:normal;font-size:48px;line-height:75px;text-align:center;}
.governance__content{position:relative;padding:150px 0 0;}
.governance__content:before{content:'';position:absolute;top:-140px;left:0;width:100%;height:350px;background:url(../img/cloud.png) no-repeat;background-size:cover;pointer-events:none;}
.governance__content .sc__header{margin-bottom:30px;}
.governance__content .el__box{position:relative;}
.governance__content .el__thumb{margin-top:-170px;text-align:center;}
.el__pet--s1{position:absolute;top:20%;left:10%;width:14%;height:14%;background:url(../img/pages/governance-pet1.png) no-repeat;background-size:contain;}
.el__pet--s2{position:absolute;top:40%;left:3%;width:11.7%;height:13%;background:url(../img/pages/governance-pet2.png) no-repeat;background-size:contain;}
.el__pet--s3{position:absolute;top:60%;left:13.5%;width:16.2%;height:16.8%;background:url(../img/pages/governance-pet3.png) no-repeat;background-size:contain;}
.el__pet--s4{position:absolute;top:20%;right:16%;width:11%;height:12%;background:url(../img/pages/governance-pet4.png) no-repeat;background-size:contain;}
.el__pet--s5{position:absolute;top:37%;right:0;width:20%;height:21%;background:url(../img/pages/governance-pet5.png) no-repeat;background-size:contain;}
.el__pet--s6{position:absolute;top:63%;right:15%;width:16%;height:16%;background:url(../img/pages/governance-pet6.png) no-repeat;background-size:contain;}

/*PAge games*/
.games__banner{position:relative;background-size:cover;background-repeat:no-repeat;text-align:center;padding-top:11%;padding-bottom:7%;}
.games__banner .el__logo{margin-bottom:50px;}
.games__banner .btn{margin-bottom:50px;animation:scale 1.5s infinite linear;}
.games-slider .slick-slide{padding:5px 0;}
.games-slider .slider__item{opacity:0.6;background:#341B16;border-radius:16px;}
.games-slider .slider__item--thumb{position:relative;height:124px;display:flex;align-items:center;}
.games-slider .slick-current .slider__item{opacity:1;}
.games-slider .slick-current .slider__item--thumb::before,.games-slider .slider__item--thumb:hover::before{content:'';position:absolute;width:calc(100% + 4px);height:calc(100% + 4px);top:0;right:0;bottom:0;left:0;z-index:-1;margin:-2px;border-radius:inherit;background:linear-gradient(to bottom,#FFE142,#F17024);}

.games__content__slider{
	margin-bottom: 90px;
}
.games__content .el__excerpt{max-width: 875px;
margin: 0 auto;}
/*Footer*/
.footer{position:relative;padding:48px 0 0;background:linear-gradient(135.91deg,#7B2E17 -46.94%,#270F0C 77.85%);color:#ECE1E1;font-size:16px;line-height:32px;}
.footer a{color:#ECE1E1;}
.footer__item{margin-bottom:40px;}
.footer__item--title{font-family:Lalezar;font-size:20px;line-height:31px;color:#FABE41;margin-bottom:22px;}
.footer__logo{margin-bottom:30px;}
.footer__socical{display:flex;}
.footer__socical li{margin-bottom:10px;transition:all .5s;box-shadow:0px 4px 15px rgba(225,128,87,0.4);border-radius:12px;}
.footer__socical li:not(:last-child){margin-right:16px;}
.footer__socical li:hover{transform:translateY(-3px);}
.footer__address li{position:relative;padding-left:20px;}
.footer__address li i{position:absolute;left:0;top:10px;}
.footer__address li i.ic-envelope{top:12px;}
.footer__list a{transition:all .5s;}
.footer__list a:hover{text-decoration:underline;}
.footer .copyright{font-size:12px;line-height:19px;padding:23px 0;text-align:center;color:#EEB6A9;border-top:1px solid #64352B;}
.scrollTop{position:absolute;top:-30px;right:8%;width:60px;height:60px;background:url(../img/scrolltop.png) no-repeat;background-size:contain;cursor:pointer;box-shadow:20px 20px 20px rgba(30,8,11,0.5);transition:all .5s;}
.scrollTop:hover{transform:translateY(-3px);}

/*keyframes*/
@keyframes showNav{
	0%{opacity:0;top:-10px;}
	33%{opacity:0;top:-10px;}
	100%{opacity:1;top:0;}
}
@keyframes spinner-btn{
	0%{transform:rotate(0);}
	50%{transform:rotate(180deg);}
	100%{transform:rotate(360deg);}
}
@keyframes spinner-rotate{
	to{transform:rotate(360deg);}
}
@keyframes scale{
	0%{transform:scale(1);}
	50%{transform:scale(1.1);}
	10%{transform:scale(1);}
}
@keyframes suntory-alo-circle-img-anim{
	0%{transform:rotate(0deg) scale(1) skew(1deg);}
	10%{transform:rotate(-10deg) scale(1) skew(1deg);}
	20%{transform:rotate(10deg) scale(1) skew(1deg);}
	30%{transform:rotate(-10deg) scale(1) skew(1deg);}
	40%{transform:rotate(10deg) scale(1) skew(1deg);}
	50%{transform:rotate(0deg) scale(1) skew(1deg);}
	100%{transform:rotate(0deg) scale(1) skew(1deg);}
}

/*Effect*/
@keyframes fadeCirce{
	from{opacity:1}
	to{opacity:0}
}
@-webkit-keyframes lightAnimation{
	0%{-webkit-filter:brightness(1);filter:brightness(1)}
	50%{-webkit-filter:brightness(1.2);filter:brightness(1.2)}
	to{-webkit-filter:brightness(1);filter:brightness(1)}
}
@-webkit-keyframes fadeInLeft{
	0%{opacity:0;-webkit-transform:translate3d(-20%,0,0);transform:translate3d(-20%,0,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInLeft{
	0%{opacity:0;-webkit-transform:translate3d(-20%,0,0);transform:translate3d(-20%,0,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.fadeInLeft{-webkit-animation:fadeInLeft 1.5s ease-in-out;-moz-animation:fadeInLeft 1.5s ease-in-out;animation:fadeInLeft 1.5s ease-in-out;}
@-webkit-keyframes fadeInRight{
	0%{opacity:0;-webkit-transform:translate3d(20%,0,0);transform:translate3d(20%,0,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInRight{
	0%{opacity:0;-webkit-transform:translate3d(20%,0,0);transform:translate3d(20%,0,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.fadeInRight{-webkit-animation:fadeInRight 1.5s ease-in-out;-moz-animation:fadeInRight 1.5s ease-in-out;animation:fadeInRight 1.5s ease-in-out;}
@-webkit-keyframes fadeInUp{
	0%{opacity:0;-webkit-transform:translate3d(0,20%,0);transform:translate3d(0,20%,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInUp{
	0%{opacity:0;-webkit-transform:translate3d(0,20%,0);transform:translate3d(0,20%,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.fadeInUp{-webkit-animation:fadeInUp 1.5s ease-in-out;-moz-animation:fadeInUp 1.5s ease-in-out;animation:fadeInUp 1.5s ease-in-out;}
.ef--zoomin img{-webkit-transform:scale(1);transform:scale(1);-webkit-transition:.5s ease-in-out;transition:.5s ease-in-out}
.ef--zoomin:hover img{-webkit-transform:scale(1.1);transform:scale(1.1)}

/*Responsive*/
@media (max-width:1650px){
	.home-tokenomics .el__box--thumb{right:-210px;}
}
@media (max-width:1570px){
	.home-tokenomics .el__box--thumb{right:-100px;}
}
@media (max-width:1399px){
	.main__nav ul.el__menu>li>a{padding:30px 25px;}
	.home-tokenomics{padding:95px 0 100px;}
	.home-story .el__item--thumb{padding-top:104%;}
	.home-tokenomics .el__box{border-top-right-radius:350px;border-bottom-right-radius:350px;}
	.home-tokenomics .el__box--thumb{top:0;right:0;width:500px;}
	.home-tokenomics .el__box--thumb:before{top:75px;left:-10px;width:500px;height:500px;}
	.el__pet--s1{left:10%;}
	.el__pet--s2{left:3%;}
	.el__pet--s3{left:12%;}
	.el__pet--s4{right:15%;}
	.el__pet--s5{right:0;}
	.el__pet--s6{top:66%;right:14%;}
}
@media (max-width:1199px){
	.main__nav ul.el__menu>li>a{padding:30px 14px;}
	.header__banner .el__meta{max-width:500px;font-size:16px;line-height:36px;}
	.header__banner .el__title{font-size:54px;line-height:55px;}
	.home-story{position:relative;padding:150px 0 115px;}
	.home-story .el__item{padding:10px 13px;}
	.home-story .el__item--title{margin-bottom:0;}
	.home-story .row{--bs-gutter-x:.5rem;}
	.home-story .el__item--meta{padding:10px 10px 20px;}
	.home-story .el__item--excerpt{font-size:15px;line-height:24px;}
	.home-story .el__item--thumb{padding-top:113%;}
	.home-ourteam .nav-item:not(:last-child){margin-right:10px;}
	.home-ourteam .nav-link{font-size:18px;}
	.home-ourteam .tab-pane{padding:70px 0 30px;}
}
@media (max-width:1099px){
	.header__banner .el__title{margin-bottom:15px;}
	.header__banner .el__excerpt{margin-bottom:30px;line-height:24px;}
	.home-story .slick-prev{left:-5px;}
	.home-story .slick-next{right:-5px;}
	.header__banner .el__btn span{padding:5px 16px 5px 69px;font-size:22px;}
	.header__banner .el__btn:before{top:-8px;left:-10px;width:65px;height:62px;}
	.header__banner .el__btn:after{top:0;left:0px;width:44px;height:51px;}
}
@media (min-width:992px){
	.col-lg-20{flex:0 0 auto;width:20%;}
	.col-lg-35{flex:0 0 auto;width:35%;}
}
@media (min-width:1400px){
	.container{max-width:1360px;}
}