/*
======================================
[ Import Font ]
======================================
*/
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
a{text-decoration:none;}
a:hover{text-decoration:none;}
ul{list-style:none;padding:0;margin-bottom:0}
p{margin-bottom:0;}
body{font-family:'Nunito',sans-serif;background: #1A080C;color: #ECE1E1;
font-size: 16px;
line-height: 32px;
}
img{max-width:100%;height:auto;}

h1,h2,h3{
	font-family: Lalezar;
}
/*Fix image trong khung*/
.dnfix__thumb{position:relative;height:auto;width:100%;overflow:hidden;display:block;padding-top:68.075%;}
.dnfix__thumb img{margin:0px auto;position:absolute;width:100%;height:100%;top:0;left:0;object-fit:cover}
.dnfix__thumb.-contain img{object-fit:contain;}
.videoWrapper{position:relative;padding-bottom:56.25%; /* 16:9 */height:0;}
.videoWrapper iframe,.videoWrapper object,.videoWrapper embed,.videoWrapper video{position:absolute;top:0;left:0;width:100%;height:auto;}

/**/
.btn{position:relative;display:inline-block;
	min-width: 177px;
padding:4px 15px;
background: linear-gradient(145.85deg, #FFE142 20.21%, #F06B23 90.44%);
box-shadow: 0px 5px 20px rgba(255, 195, 50, 0.3), inset 0px -4px 0px rgba(0, 0, 0, 0.25);
border-radius: 12px;

	transition:all .5s;}
.btn:hover{

}
.btn span{display:block;font-family:Lalezar;font-size:24px;line-height:38px;background:-webkit-linear-gradient(45deg,#551A11,#B22E1A);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}

.sc__header--title{
	font-family: Lalezar;
	font-size: 48px;
	line-height: 75px;
		background:-webkit-linear-gradient(324deg,#FFFFFF,#E79A6F);-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

/*Header*/
header.header{position:fixed;top:0;left:0;right:0;z-index:11;-webkit-animation:showLogo 1s ease-in-out forwards;-moz-animation:showLogo 1s ease-in-out forwards;animation:showLogo 1s ease-in-out forwards;}
header.header:after{content:"";position:absolute;right:0;bottom:0;width:100%;height:1px;background:linear-gradient(90deg,rgba(121,45,22,0) 0%,#F4852A 48.73%,rgba(244,133,42,0) 91.72%);transform:matrix(1,0,0,-1,0,0);}

/*
======================================
[ Main menu ]
======================================
*/
.main__nav{position:relative;font-family:'Lalezar',cursive;z-index:9;}
.main__nav:after{content:"";display:table;clear:both;}
.main__nav .sc__wrap{position:relative;z-index:9999;width:100%;}
.main__nav ul{list-style:none;padding:0;margin:0;}
.main__nav ul.el__menu{padding:0px 0;}
.main__nav ul.el__menu:after{content:"";display:table;clear:both;}
.main__nav ul.el__menu>li{position:relative;display:inline-block;}
.main__nav ul.el__menu>li>a{position:relative;color:#FFFAE9;line-height:19px;font-weight:400;font-size:16px;padding:30px 32px;display:block;transition:all .5s;}
.main__nav ul.el__menu>li>a:after{content:'';position:absolute;bottom:15px;left:0;right:0;display:block;width:8px;height:8px;background:linear-gradient(145.85deg,#FFE142 20.21%,#F07C3D 90.44%);border-radius:1px;transform:rotate(45deg);text-align:center;transform-origin:center;margin:auto;opacity:0;transition:all .5s;}
.main__nav ul.el__menu>li:hover>a,.main__nav ul.el__menu>li.active>a{background:linear-gradient(180deg,rgba(49,27,65,0) 0%,rgba(251,187,56,0.4) 100%);}
.main__nav ul.el__menu>li:hover>a:after,.main__nav ul.el__menu>li.active>a:after{opacity:1;}
.main__nav ul.el__menu>li>a::before,.main__nav ul.el__menu>li>a::after{}
.main__nav ul.el__menu>li.active>a::before,.main__nav ul.el__menu>li.active>a::after,.main__nav ul.el__menu>li:hover>a::before,.main__nav ul.el__menu>li:hover>a::after{}
.main__nav ul.el__menu>li.active>a::after,.main__nav ul.el__menu>li:hover>a::after{}
.header__btn{position:relative;display:block;box-shadow:0px 5px 20px rgba(255,195,50,0.3);border-radius:12px;background:linear-gradient(94.88deg,#551A11 13.73%,#9B3800 81.43%);animation:boxshadow 2s infinite;}
.header__btn:after{content:"";position:absolute;top:0;left:0;bottom:0;width:10%;height:100%;background:linear-gradient(94.88deg,#9B3800 13.73%,#551A11 81.43%);border-radius:12px;opacity:0;transition:all .5s;}
.header__btn:hover:after{width:100%;opacity:1;}
.header__btn:before{content:"";position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1;margin:-2px;border-radius:inherit;background:linear-gradient(to bottom,#FFE142,#F17024);}
.header__btn span{display:block;position:relative;z-index:1;font-family:'Lalezar',cursive;font-size:16px;line-height:25px;padding:12px 15px 11px 50px;background:-webkit-linear-gradient(45deg,#FFE142,#F07C3D);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.header__btn span:before{content:'';position:absolute;top:11px;left:15px;width:24px;height:24px;background:url(../img/wallet.png);}
@keyframes boxshadow{
	0%{box-shadow:0px 2px 5px rgba(255,195,50,0.3);}
	50%{box-shadow:0px 5px 30px rgba(255,195,50,0.3);}
	100%{box-shadow:0px 2px 5px rgba(255,195,50,0.3);}
}

/*Header banner*/
.header__banner{position:relative;}
.header__banner .dnfix__thumb{padding-top:52.6%;}
.header__banner .el__wrap{position:absolute;top:0;left:0;width:100%;height:100%;display:flex;align-items:center;}
.header__banner .el__meta{max-width:580px;font-family:Nunito;font-weight:600;font-size:18px;line-height:38px;color:#ECE1E1;}
.header__banner .el__title{font-family:Lalezar;font-size:64px;line-height:64px;margin-bottom:24px;background:-webkit-linear-gradient(320deg,#FFE142,#F07C3D);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.header__banner .el__excerpt{margin-bottom:55px;}
.header__banner .el__btn{position:relative;display:inline-block;background:linear-gradient(145.85deg,#FFE142 20.21%,#F06B23 90.44%);box-shadow:0px 5px 20px rgba(255,195,50,0.3),inset 0px -4px 0px rgba(0,0,0,0.25);border-radius:12px;transition:all .5s;}
.header__banner .el__btn:hover{transform:scale(1.05);}
.header__banner .el__btn:before{content:'';position:absolute;top:-5px;left:-15px;width:71px;height:68px;background:url(../img/btn-started-circle.png) no-repeat;background-size:contain;	/*animation: spinner-btn 2s infinite;*/}
.header__banner .el__btn:after{content:'';position:absolute;top:0;left:-5px;width:48px;height:57px;background:url(../img/btn-started.png) no-repeat;background-size:contain;}
.header__banner .el__btn span{display:block;padding:10px 16px 10px 69px;font-family:Lalezar;font-size:24px;line-height:38px;
	background:-webkit-linear-gradient(45deg,#551A11,#B22E1A);-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;}

@keyframes spinner-btn{
	0%{transform:rotate(0);}
	50%{transform:rotate(180deg);}
	100%{transform:rotate(360deg);}
}

/*Home story*/
.home-story{
position: relative;
padding: 170px 0 115px;
}
.home-story:before{
	content:'';position:absolute;top:-140px;left:0;width:100%;height:350px;background:url(../img/cloud.png) no-repeat;
	background-size: cover;
}
.home-story .el__title{

}
.home-story .el__excerpt{
	margin-bottom: 40px;
}
.home-story .el__box{
	margin-top: 115px;
}
.home-story .el__item{
	margin-bottom: 30px;
	padding: 10px 15px;
	color: #19080C;
	text-align: center;
	background: url(../img/home-story-item-bg.png) no-repeat;
	background-size: 100% 100%;
}
.home-story .el__item--thumb{
	padding-top: 82.075%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.home-story .el__item--meta {
    padding: 20px 15px 30px;
}


.home-story .el__item--title{
	font-family: Lalezar;
	font-size: 32px;
	line-height: 50px;
	color: #804539;
}

.home-story-slider{
	padding: 0 50px;
}


/**/
.home-intro{
	padding: 180px 0;
	background: #2D161C;
}
.home-intro .el__item--excerpt{
	margin-bottom: 40px;
}






/*Responsive*/
@media (min-width:1400px){
	.container{max-width:1360px;}
}
@media (max-width:1399px){
	.home-story .el__item--thumb {
	    padding-top: 104%;
	}
}